#include <windows.h>
#include "rdk_resources.h"

IDI_RDK ICON "rdk.ico"

IDD_SESSION_MENU DIALOGEX 0, 0, 310, 36
STYLE DS_SETFONT | DS_SHELLFONT | WS_POPUP | WS_BORDER
EXSTYLE WS_EX_TOOLWINDOW
FONT 9, "Segoe UI"
BEGIN
	ICON IDI_RDK, IDC_SESSION_ICON, 6, 8, 20, 20
	CONTROL "Minimize", IDC_SESSION_MINIMIZE, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 30, 6, 24, 24
	CONTROL "Ctrl+Alt+Delete", IDC_SESSION_SECURITY, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 58, 6, 94, 24
	CONTROL "Reconnect", IDC_SESSION_RECONNECT, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 156, 6, 66, 24
	CONTROL "Disconnect", IDC_SESSION_DISCONNECT, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 226, 6, 68, 24
	CONTROL "Close menu", IDCANCEL, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 298, 6, 24, 24
END

